/*.footer-container{
    height: 17.8%;
    width:100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-parent{
    width: 100%;
    height: 100%;
    max-width: 1920px;
}
.footer-parent img{
    max-width: 100%;
    height: 130px;
}
@media only screen and (max-width:110px){
    .footer-parent{
        display: flex;
        align-items: flex-end;
    }
}
.footer-text{
    color: black;
    font-size: 40px;
}
*/


.background-container {
    position: relative;
    background-image: url('../../assets/screen9.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 98vh; /* You can adjust the height as needed */
    color: black;
    
    margin: 0;
    padding: 0;
}

.text-container {
    position: absolute;
    top: 50%; /* Adjust this value to vertically center the text */
    left: 50%; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%);
    text-align: center;
    color: black; /* Adjust the text color to your liking */
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: -5%;
    margin-bottom:0%;
}

p {
    font-size: 18px;
    font-weight: normal;
}
.icon-container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: -100px;
}
.icon-images{
    margin:3px;
    height: auto;
    width: 17%;
    max-width: 100%;
}